.collections {
  padding: var(--space-2xl) 0;
}

.collections__encabezado {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.collections__item--desplazado-grande {
  margin-top: 48px;
}

.collections__item--desplazado-pequeno {
  margin-top: 24px;
}

.collections__grilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: var(--space-xl);
}

@media (max-width: 1023px) {
  .collections__grilla {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .collections__item {
    margin-top: 0;
  }

  .collections .encabezado__titulo {
    font-size: 32px;
  }
}
